@import url("https://fonts.googleapis.com/css?family=Orbitron");

@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  /* background: url("https://i.stack.imgur.com/jGlzr.png") no-repeat 0 0 scroll; */
  /* background: ; */
  background-color: #f5f8ff;
  background-size: 200% 200%;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  scroll-padding: 5rem;
}

.styleScroll::-webkit-scrollbar {
  height: 5px;
}

.styleScroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.styleScroll::-webkit-scrollbar-track {
  background-color: transparent;
}

div[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.countdownTimer {
  font-family: "Orbitron", sans-serif;
}
.draging {
  cursor: grabbing;
  opacity: 1 !important;
}
.fit-video {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

.fit-video iframe,
.fit-video video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.heroBtn::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgb(63 131 248);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  opacity: 0;
  animation-name: zoomInOut;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 50%;
}

@keyframes zoomInOut {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
  20% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.8);
    opacity: 0;
  }
}
